:root{
    --main-bg-color : rgba(255,0,0,0.1);
    --green-opacity-color: rgba(0,255,0,0.1);
    --max-width:800px;
    --scrollbar-color:#888;
    --scrollbar-hover-color:#555;
    --scrollbar-width:.45rem;
    --todo-element-height:3rem;
}